<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Stéphane et Julie SAUTRON</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="Stéphane, Julie, Sautron" content="Stéphane, Julie, Sautron"/>

    {% block stylesheets %}
        <link href="{{ asset('bundles/ssaphoto/css/style.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/ssaphoto/css/unite-gallery.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/ssaphoto/css/dark.css') }}" type="text/css" rel="stylesheet" media="screen" />
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('bundles/ssaphoto/js/jquery-11.0.min.js') }}" type="text/javascript"></script>        
        <script src="{{ asset('bundles/ssaphoto/js/unitegallery.js') }}" type="text/javascript"></script>        
        <script src="{{ asset('bundles/ssaphoto/js/jquery.heapbox-0.9.4.js') }}" type="text/javascript"></script>         
        <script src="{{ asset('bundles/ssaphoto/js/ug-theme-compact.js') }}" type="text/javascript"></script>         
        
    {% endblock %}



	
</head>

<body>

<div class="main"> 
	<h1></h1>
	<div class="albumbar">
            <span>Stéphane et Julie SAUTRON</span>
            <div class="menu">
                <select class="menu-list" >
                    {% for book in books %}
            	        <option value="{{book.getId()}}">{{ book.getPath() }}</option>
                    {% endfor %}
                    
                </select>
            </div>
            <input type="hidden" id="id_service" value="">
            
    </div>

   
    
	<div class="photo">
		<div id="gallery" style="display:none; ">
                    {% for pict in picts %}

                        <img alt="Preview Image 1"
                             src="{{ pict['thumb'] }}"
                             data-image="{{ pict['img'] }}"
                             data-description="Preview Image 1 Description">
                    {% endfor %}
		</div>
        </div>	
    <div class="infobar">
            <span id="description"></span>
            <span class="reference">
                &copy;Stéphane 2014
            </span>
    </div>
</div>
	<script type="text/javascript">
	var api;
	

	function startGallery()
        {	
            api=jQuery("#gallery").unitegallery({

                gallery_width:"100%",							//gallery width		
                gallery_images_preload_type:"minimal",


                theme_enable_fullscreen_button: true,	//show, hide the theme fullscreen button. The position in the theme is constant
                theme_enable_play_button: true,			//show, hide the theme play button. The position in the theme is constant
                theme_enable_hidepanel_button: true,	//show, hide the hidepanel button


                theme_text_padding_left: 20,			//left padding of the text in the textpanel
                theme_text_padding_right: 5,			//right paddin of the text in the textpanel
                theme_text_align: "left",				//left, center, right - the align of the text in the textpanel
                theme_text_type: "title",				//title, description - text that will be shown on the text panel, title or description

                theme_hide_panel_under_width: 480,		//hide panel under certain browser width, if null, don't hide		

                slider_enable_zoom_panel:false,	

                gallery_preserve_ratio: true,	
                slider_scale_mode: "fit",	
                slider_scale_mode_media: "fill",
                slider_scale_mode_fullscreen: "down",
            });
            api.resetZoom()	;

	}

        //show selected values
        function buildThumb(data)
        {   
            jQuery("#gallery").empty();
            var countImages = data.length;
            var count = 0;

            for(var i = 0; i < countImages; ++i){
                //data[i].src
                alt="stéphane";
                image="<img alt='" +alt+"' src='"+data[i].thumb+"' data-image='"+data[i].img+"' data-description='"+alt+"'>" ;
                jQuery("#gallery").append(image);
            }
            startGallery();
        }		

        jQuery(document).ready(function(){
            
            
         
            jQuery('#id_service').change(function(){
                    if ($('#heapbox_ssa').hasClass('open')==false)
                    {    value= $('#id_service').val(); 
                        
                      if(value){
                            $.ajax({
                                type: "GET",
                                url: "http://photobox.local/list/"+value,
                                success:function(data)
                                {
                                 buildThumb(data);
                                }
                            });
                        }   

                    }
                });
            
            
            jQuery(".menu-list").heapbox({'onChange': function(value)
                                            {
                                                if(value){
                                                       $('#id_service').val(value).trigger('change'); 
                                                }
                                            },
                                            'closeComplete':function()
                                            { 
                                                $('#id_service').trigger('change');
                                            },
                                        
	    /*                             'onChangeer': function(value)
                                            {
                                                if(value){
                                                        $.ajax({
                                                            type: "GET",
                                                            url: "http://photobox.local/list/"+value,
                                                            success:function(data)
                                                            {
                                                             buildThumb(data);
                                                            }
                                                        });
                                                }
                                            },*/
                                            "heapsize":"200px"
					});
			

            startGallery();
            
            
            
	});
		
		
	</script>


</body>
</html>
